{% include 'header.html' %}
<br>
<br>
<br>
<center>

 <!-- Contact Start -->
 <div class="container-fluid py-5">
    <div class="container" style="max-width: 900px;">
        <div class="row">
            <div class="col-12">
                <h3>Object Detection in Progress</h3>
                <p>The system is detecting objects. Click the button below to stop detection and return to navigation.</p>
                <a class="btn btn-danger" href="{% url 'stop_detection' %}">Stop Detection</a>
            </div>
            <div class="col-12">
                <div class="contact-form">
                    <div id="success"></div>




                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
</Center>
{% include 'footer.html' %}