{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>


     <title>Digital Trend HTML Template</title>
<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/aos.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/templatemo-digital-trend.css' %}">

</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
              <i class="fa fa-line-chart"></i>
              Digital Trend
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if request.session.details == 'admin' %}
                        <!-- Admin Navigation -->
                        <li class="nav-item">
                            <button onclick="window.location.href='{% url 'index' %}'" class="btn btn-link nav-link">Home</button>
                        </li>
                        <li class="nav-item">
                            <button onclick="window.location.href='{% url 'view_users' %}'" class="btn btn-link nav-link">View Users</button>
                        </li>
                        <!--<li class="nav-item">
                            <button onclick="window.location.href='{% url 'view_results' %}'" class="btn btn-link nav-link">View Results</button>
                        </li>-->
                        <li class="nav-item">
                            <button onclick="window.location.href='{% url 'view_user_activities' %}'" class="btn btn-link nav-link">View User Activities</button>
                        </li>
                        <li class="nav-item">
                            <button onclick="window.location.href='http://127.0.0.1:8000/logout/'" class="btn btn-link nav-link">Logout</button>
                        </li>
                    {% elif request.session.uid %}
                        <!-- User Navigation -->
                        <li class="nav-item">
                            <button onclick="window.location.href='{% url 'index' %}'" class="btn btn-link nav-link">Home</button>
                        </li>
                       <!-- <li class="nav-item">
                            <button onclick="window.location.href='{% url 'upload_file' %}'" class="btn btn-link nav-link">Upload</button>
                        </li>
                        <li class="nav-item">
                            <button onclick="window.location.href='{% url 'view_user_results' %}'" class="btn btn-link nav-link">View Results</button>
                        </li>-->
                        <li class="nav-item">
                            <button onclick="window.location.href='{% url 'navigation' %}'" class="btn btn-link nav-link">Navigation</button>
                        </li>
                        <li class="nav-item">
                            <button onclick="window.location.href='http://127.0.0.1:8000/logout/'" class="btn btn-link nav-link">Logout</button>
                        </li>
                    {% else %}
                        <!-- Guest Navigation -->
                        <li class="nav-item">
                            <button onclick="window.location.href='{% url 'index' %}'" class="btn btn-link nav-link">Home</button>
                        </li>
                        <li class="nav-item">
                            <button onclick="window.location.href='{% url 'reg' %}'" class="btn btn-link nav-link">Register</button>
                        </li>
                        <li class="nav-item">
                            <button onclick="window.location.href='{% url 'login' %}'" class="btn btn-link nav-link">Login</button>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


{% endblock %}